body{
    background-color: whitesmoke;
}
@font-face{
    font-family:Roboto slap ,serif ;
    src:https://fonts.google.com/specimen/Roboto+Slab?sidebar.open=true&selection.family=Roboto+Slab:wght@700;
}
h1,h2,h3,h4{
    color:#6EAA30;
}
header{
    background-color: white;
    border-bottom: 2px solid #6EAA30 ;
}
.header-section{
    display: flex;
    position: relative;
    left: 10%;
}
header .logo img{
    width: 6rem;
    float:right;
    position:relative;
    left:50%;
}
.nav{
    padding:10px;
    justify-content: space-between;
    align-items: center;
    right:10%;
    bottom: 20%;
    position:relative;
    background-color: white;
}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
nav ul{
    display: flex;
}
nav a:hover{
    background-color: #6EAA30;
    transition: all 0.4s ease;
}
nav.active a{
    background-color:#6EAA30 ;
    transition: all 0.4s ease;
}
nav ul li a{
    margin: 20px;
    color: #363636;
    font-size: 20px;
    font-weight: 100px;
    bottom: 20%;
    left:10%;
}
.hero-image{
    padding-left: 10rem;
    padding-right:20rem;
    top: 50%;
    height: 20rem;
    width: 50rem;
    color:#6EAA30;
    position: relative;
}
.hero{
    padding-left:30px;
    position:relative;
    bottom:30px;
    text-align:left;
}
.container{
    margin-top: 55px;
    background-color: white;
    align-items: center;
    flex-wrap:wrap;
    margin-right: 150px;
    margin-left:150px;
}
.flex-folder{
  display: flex;
  flex-direction: row;
  align-content: flex-start;

}
.News{
    background-color: white;
    height: 20rem;
    width:300px;
    margin: auto;
    top: 10px;
    margin-left: 150px;
    margin-right: 20px;
    margin-top: 10px;
    padding:20px;
    font-size: 17px;
    line-height: 20px;
    font-family:Roboto slap,serif;
    overflow: hidden;
}
.enrollments{
    background-color: white;
    height: 20rem;
    width: 300px;
    margin:auto;
    margin-right: 200px;
    margin-left: 10px;
    margin-top:10px;
    margin-bottom:10px;
    padding:20px;
    font-size: 15px;
    line-height: 20px;
    font-family:Roboto slap,serif;
    overflow: hidden;
}
.Calendar{
    display:flex;
    background-color: white;
    width:300px;
    height:20rem;
    margin:auto;
    margin-left: -170px ;
    margin-right: 150px;
    margin-top: 10px;
    margin-bottom: -20px;
}
button{
    background-color: #6EAA30;
    left:30%;
    top:10%;
    width:25%;
    height:10%;
    position:relative;
    border: 1px solid white;
    color:white;
}
.text{
    position
}

footer{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color:#6EAA30;
    font-size: 17px;
    color:white;
    margin: auto;
    padding: 10px;
    margin-top:50px;
}



