body{
    background-color: whitesmoke;
    font-family:Roboto Slab,serif ;
}
h1,h2,h3,h4{
    color:#6EAA30;
}
.header-section{
    display: flex;
    border-bottom: 2px solid #6EAA30 ;
    }
header .logo img{
    width: 4rem;
    float:right;
    position:relative;
    left:40%;
}
.nav{
    padding:20px 10px;
    justify-content: space-evenly;
    align-items: center;
    right:10%;
}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
nav ul{
    display: flex;
}
nav a:hover{
    background-color: #6EAA30;
    transition: all 0.4s ease;
}
nav.active a{
    background-color:#6EAA30 ;
    transition: all 0.4s ease;
}
nav ul li a{
    margin: 30px;
    color: #363636;
    font-size: 20px;
    font-weight: 300;
}
.hero-image{
    padding-left: 20rem;
    top: 40%;
    height: 20rem;
    width: 50rem;
    color:#6EAA30;
    position: relative;
}
.hero{
    padding-left:70px;
    position:relative;
    bottom:50px;
}
.container{
    margin-top: 65px;
    background-color: white;
    width: 70rrem;
    margin-right: 20px;
    margin-left: 20px;
    left:50%;
}
.flex-folder{
    display: flex;
    flex-direction: row;
}
.flex-folder>div{
    background-color: white;
    margin: auto;
    width:400px;
    padding-left: 2rem;
    height: 20rem;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
}
button{
    background-color: #6EAA30;
    left:30%;
    position:relative;
    color:white;
}
.cal{
    color:#6EAA30;
    padding-right:500px;
    font-size: 20px;
}
.para{
    top:10px;

}
footer{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color:#6EAA30;
    font-size: 17px;
    color:white;
    margin: auto;
    padding: 10px;
    margin-top:50px;
}



